In [1]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b

In [3]:
# Dunders - Magic Methods

In [9]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege

In [10]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [11]:
print(c1)
# Name -> Milaege

<__main__.Car object at 0x7fc3108d5610>

In [12]:
def random():
    return "random"

print(random)

<function random at 0x7fc31045b5e0>

In [13]:
# Printing is a behaviour in python
# We are going to tweak that behaviour (customize) for objects of our custom class

In [47]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
    
    # whenever an object is printed
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.milaege + other.milaege
    
    def __lt__(self, other):
        return self.milaege < other.milaege
    
    def __call__(self):
        print("I WAS CALLED")

In [48]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [49]:
print(c1)

Nexon -> 12

In [50]:
c1 + c2
# Car.__add__(c1, c2)

27

In [51]:
# HOMEWORK - 
# Use this add method to add 3 cars

In [52]:
# c1 + c2 + Car("BMW", 10)

In [53]:
c1 < c2

True

In [54]:
c1()

I WAS CALLED

In [55]:
c2()

I WAS CALLED

In [56]:
# Start class names with capital lettes or we use camel case
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        self.subject = subject

In [57]:
s1 = Student("Krishna", "A")

In [58]:
type(s1)

__main__.Student

In [59]:
s1.grade

'A'

In [60]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [61]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b

In [62]:
a = A()

TypeError: __init__() missing 2 required positional arguments: 'a' and 'b'

In [63]:
# Start class names with capital lettes or we use camel case
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
        # SchoolMember.__init__(self, name)
        super().__init__(name)
        # super automatically corresponds to the direct parent class
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        self.subject = subject

In [64]:
s1 = Student("Sharath", "A")

TypeError: __init__() takes 2 positional arguments but 3 were given