In [1]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b

In [3]:
# Dunders - Magic Methods

In [9]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege

In [10]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [11]:
print(c1)
# Name -> Milaege

<__main__.Car object at 0x7fc3108d5610>

In [12]:
def random():
    return "random"

print(random)

<function random at 0x7fc31045b5e0>

In [13]:
# Printing is a behaviour in python
# We are going to tweak that behaviour (customize) for objects of our custom class

In [47]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
    
    # whenever an object is printed
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.milaege + other.milaege
    
    def __lt__(self, other):
        return self.milaege < other.milaege
    
    def __call__(self):
        print("I WAS CALLED")

In [48]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [49]:
print(c1)

Nexon -> 12

In [50]:
c1 + c2
# Car.__add__(c1, c2)

27

In [51]:
# HOMEWORK - 
# Use this add method to add 3 cars

In [52]:
# c1 + c2 + Car("BMW", 10)

In [53]:
c1 < c2

True

In [54]:
c1()

I WAS CALLED

In [55]:
c2()

I WAS CALLED

In [56]:
# Start class names with capital lettes or we use camel case
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        self.subject = subject

In [57]:
s1 = Student("Krishna", "A")

In [58]:
type(s1)

__main__.Student

In [59]:
s1.grade

'A'

In [60]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [61]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b

In [62]:
a = A()

TypeError: __init__() missing 2 required positional arguments: 'a' and 'b'

In [71]:
# Start class names with capital lettes or we use camel case
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, grade):
        # SchoolMember.__init__(self, name)
        super().__init__(name)
        # super automatically corresponds to the direct parent class
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, subject):
        super().__init__(name, salary)
        self.subject = subject

In [72]:
s1 = Student("Sharath", "A")

In [73]:
s1.grade

'A'

In [74]:
s1.name = "Random"

In [70]:
s1.name

'Random'

In [75]:
t1 = Teacher("Bipin", 10, "Python")

In [76]:
t1.name

'Bipin'

In [77]:
t1.salary

10

In [78]:
t1.subject

'Python'

In [7]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance
        
    def withdrawl(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [8]:
b1 = BankAccount(10000)

In [9]:
b1.deposit(5000)

In [10]:
b1.balance

15000

In [11]:
b1.withdrawl(15000)

In [12]:
b1.balance

0

In [13]:
b1.balance = 23456789854323456789987654345678909876543

In [14]:
b1.balance

23456789854323456789987654345678909876543

In [15]:
# Private Properties
# - will be accessible within the class
# - will not be accessible outside the class definition

In [25]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance
        
    # Setter
    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount
        
    # Getter
    def check_balance(self):
        return self.__balance

In [26]:
b1 = BankAccount(10000)

In [27]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [28]:
b1.deposit(10000)

In [29]:
b1.withdraw(5000)

In [30]:
b1.check_balance()

15000

In [ ]:
b1.__balance

In [37]:
b1._BankAccount__balance = 159854568765456789876545678765678
# Name Mangling

In [33]:
b1.check_balance()

159854568765456789876545678765678

In [34]:
dir(b1)

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdraw']

In [35]:
b1.__balance = "random balance"

In [36]:
dir(b1)

['_BankAccount__balance',
 '__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdraw']

In [39]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks= marks

    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1= Student(34,'A')
student1.age=17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17